@charset "utf-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }
.my-container {
	color: black;
	background-color: lightblue;
	border: 1px solid black;
	text-align: left;
	margin-bottom: 5px;
    margin-left: 5px;
	margin-right:  5px;
	margin-top:  5px;
	padding: 1px
}
.my-class {
	color: darkblue;
	background-color: lightcyan;
	border: 1px solid blue;
	padding: 0.5em;
	display: flex;
	justify-content: left;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;	
}
#para1 {
	color: hotpink
}
.id-third {
	background-image: url("../images/Background.jpg");
	Color: white; 	
}
.my-box {
	align-content: center
}